.vbox {
    -fx-spacing: 20;
    -fx-alignment: center;
}

.label {
    -fx-text-fill: #E5E4E2;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 10;
}

.label#l_timer {
    -fx-text-fill: #E5E4E2;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 10;
}

.grid-pane {
    -fx-hgap: 20;
    -fx-vgap: 20;
    -fx-padding: 20;
}

.grid-pane > .radio-button {
    -fx-alignment: center;
}

.rb_grid {
    -fx-font-size: 16px;
    -fx-text-fill: #E5E4E2;
}

.rb_grid:hover {
    -fx-text-fill: #E5E4E2;
}

.rb_grid:selected {
    -fx-font-weight: bold;
}

.column-constraints {
    -fx-halignment: center;
}

.row-constraints {
    -fx-valignment: center;
}


/* styles.css */
.root {
    -fx-background-size: cover;
    -fx-background-position: 0% 0%;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #00416A, #4B0082);
}


.radio-button {
    -fx-border-color: #555;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-background-color: transparent;
    -fx-text-fill: #E5E4E2;
}


.radio-button:selected {
    -fx-background-color: #00416A;
    -fx-background-radius: 8px;
    -fx-border-color: #555;
    -fx-border-width: 2px;
    -fx-text-fill: #E5E4E2;
}
.radio-button * {
    -fx-margin: 10px;
}



